* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parent {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,

    #dcf3ff,
    #dcf3ff,
    oklch(91.7% 0.08 205.041)
  );
  background-attachment: fixed;
  background-repeat: no-repeat;

  background-size: cover;
  position: relative;
}
.header {
  padding: 1rem;
  column-gap: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.line-Container {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.leftLine {
  position: absolute;
  border: 1px solid #cecece;
  /* background-color: #595959; */
  height: 100%;
  width: 0.1%;
}
.rightLine {
  position: absolute;
  border: 1px solid #cecece;
  /* background-color: #595959; */
  height: 100%;
  right: 0px;
  width: 0.1%;
}
.logo img {
  height: 2.5rem;
}
.nav-container {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.3rem;
}
.nav-container li a {
  all: unset;
  font-size: 1.5rem;
  color: rgb(21, 19, 19);
  cursor: pointer;
}
.btn {
  all: unset;
  background-color: #2679f3;
  border: 1px solid black;
  border-radius: 0.8rem;
  padding: 10px 10px;
  color: white;
  width: 7rem;
  &:hover {
    background-color: rgb(56, 56, 192);

    transition: all 1s ease;

    cursor: pointer;
  }
}
.hero-container {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.3rem;
}
.badge {
  width: fit-content;
  background-color: azure;
  font-size: 1.3rem;
  padding: 0.8rem;
  border-radius: 120px;
  cursor: pointer;
  &:hover {
    background-color: #e9e9ea;
    transition: all 0.5s ease;
  }
}
.badge p {
  font-size: 1.1rem;
}
.hero-container h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 1rem;
}
.badge-3r {
  font-size: 1.125rem;
  color: #595959;
}
.hero-4l {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.hero-4l-1l {
  padding: 0.7rem;
  border-radius: 10px;

  &:hover {
    background-color: rgb(131, 141, 141);
    transition: all 0.9s ease;

    cursor: pointer;
  }
}
.h4 {
  color: #817b7b;
}
.image-container {
  width: 100%;
  /* margin: 0 auto; */
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
}
.img {
  width: 70%;
  height: 10%;
}
.belowLine {
  position: absolute;
  border: 1px solid #cecece;

  width: 100%;
  top: -15px;
}
.footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
}
.footer-1 p {
  font-weight: 500;
}
.footer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;
}
@media (max-width: 1130px) {
  .header {
    column-gap: 2rem;
  }
}
@media (max-width: 840px) {
  .header {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}
@media (max-width: 840px) {
  .nav-container {
    flex-direction: column;
    row-gap: 1rem;
  }
}
@media (max-width: 560px) {
  .badge {
    text-align: center;
  }
  .btn {
    text-align: center;
  }
  .footer {
    column-gap: 3rem;
    padding: 0 1rem;
  }
  .footer-2 {
    flex-direction: column;
    row-gap: 0.4rem;
  }
}
@media (max-width: 430px) {
  .leftLine {
    height: 40%;
  }
  .rightLine {
    height: 40%;
  }
  .btn {
    padding: 7px 7px;
    width: 8rem;
  }
}
